repos:
  - repo: local
    hooks:
      - id: black
        language: python
        name: black
        pass_filenames: false
        language_version: python3.8
        entry: poetry run black fastapi_lifespan_manager tests

  - repo: local
    hooks:
      - id: ruff
        language: python
        name: ruff
        pass_filenames: false
        language_version: python3.8
        entry: poetry run ruff --fix --exit-non-zero-on-fix --show-fixes fastapi_lifespan_manager tests

  - repo: local
    hooks:
      - id: mypy
        language: python
        name: mypy
        pass_filenames: false
        entry: poetry run mypy fastapi_lifespan_manager --show-error-codes
